{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh">

        <div class="col-md-4">

            <h1 class="text-center mb-4">Connexion</h1>

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form method="post" class="card p-4 shadow-sm">
            
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>                
                </div>

                <div class="mb-3">
                    <input type="checkbox" name="_remeber_me" class="form-check-input" id="rememberMe">
                    <label for="rememberMe" class="form-check-label">Se souvenir de moi</label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-primary w-100" type="submit">Se connecter</button>
            
            </form>

        </div>  

    </div>
    
{% endblock %}
