@import "../vendor/bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: #E6E2D7;
}

select:invalid {
    color: #8a8a8a;
    font-style: italic;
}

select option[value=""] {
    color: #8a8a8a;
    font-style: italic;
}

select option:not([value=""]) {
    color: #000;
    font-style: normal;
}