<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {# Message aux utilisateurs connectés #}
        {% if app.user %}

            <nav class="navbar navbar-light bg-light border-bottom mb-4 px-3">
                <span class="navbar-text">
                    Bienvenue <strong>{{ app.user.email }}</strong>
                </span>
                <form action="{{ path('app_logout') }}" method="post" class="m-0">
                    <button class="btn btn-danger btn-sm">
                        Déconnexion
                    </button>
                </form>
            </nav>
            
        {% endif %}

        {% block body %}{% endblock %}

        {# Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum 
        sequi esse itaque ut rerum laboriosam eaque tempora ipsa, voluptatem aut 
        alias voluptate eos cumque est quae nemo autem tempore? Dolore? #}
    </body>
</html>
